# Backend-specific nixpacks configuration
[phases.setup]
aptPkgs = ["libreoffice", "libreoffice-writer", "libreoffice-calc", "libreoffice-impress"]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = ["npm install"]

[start]
cmd = "node server.js"